*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-size: 14px;
  font-family: arial,sans-serif;
}

.container {
  width: 94%;
  margin: 0 auto;
}

/* Navigation Styles */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 15px 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a:nth-child(1), 
nav ul li a:nth-child(2) {
  text-decoration: none;
  color: #333;
}

nav ul li a:nth-child(1):hover,
nav ul li a:nth-child(2):hover {
  text-decoration: underline;
}

nav ul li img:nth-child(3) {
  height: auto;
}

nav ul li img:nth-child(4) {
  height: auto;
}

nav ul li .profile-pic {
  border-radius: 50%;
  height: auto;
  object-fit: cover;
}


/* Main Body Styles */
main {
  margin: 150px auto 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .search-area {
  display: flex;
  flex-direction: row;
}

main .search-area .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

main .search-area .search-box input {
  outline: none;
  max-width: 584px;
  width: 638px;
  height: 48px;
  padding: 20px 40px;
  border: 1px solid #c0bebe;
  border-radius: 40px;
}

main .search-area .search-box input:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

main .search-area .search-box span:first-child {
  position: relative;
  color: #e4e4e4;
  right: -40px;
}

main .search-area .search-box span:last-child {
  position: relative;
  left: -40px;
}

main .google-img {
  width: 320px;
  margin-bottom: 20px;
  /* aspect-ratio: auto 272 / 92; */
  height: auto;
}

main .search-box img {
  width: 25px;
}

main .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

main .buttons .search-area-btn {
  padding: 10px 25px;
  margin-bottom: 30px;
  margin-right: 10px;
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

main .buttons .search-area-btn:hover {
  color: #202124;
  border: 1px solid #dadce0;
  background-color: 0 1px 1px rgb(0, 0, 0, 0.1);
}

main p {
  font-size: 15px;
}

main p > a {
  text-decoration: none;
}

main p > a:hover {
  text-decoration: underline;
}


/* footer section styles */
footer {
  background: #f8f9fa;
  color: #202124;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .footer-up {
  padding: 15px 30px;
  border-bottom: 1px solid #63636388;
  font-size: 15px;
}

footer .footer-down {
  padding: 15px 30px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-down span:nth-child(1) a {
  margin-right: 10px;
  text-decoration: none;
  color: #202124;
}

footer .footer-down span:nth-child(1) a:hover {
  text-decoration: underline;
}

footer .footer-down span:nth-child(1) a:last-child {
  margin-right: 0;
}

footer .footer-down span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -100px;
}

footer .footer-down span:nth-child(2) img {
  transform: scale(0.8);
  margin-right: 3px;
}

footer .footer-down span:nth-child(2) a {
  text-decoration: none;
  color: #202124;
}

footer .footer-down span:nth-child(2) a:hover {
  text-decoration: underline;
}

footer .footer-down span:nth-child(3) a {
  text-decoration: none;
  color: #202124;
  margin-right: 10px;
}

footer .footer-down span:nth-child(3) a:hover {
  text-decoration: underline;
}
